@{
    Layout = "~/Views/LayoutTemplate.cshtml";
    ViewBag.Title = "Profile";
}

<p>ProfilePage</p>


@section PageJavaScript{
    <script type="text/javascript">



    </script>
}

