@{
    Layout = "~/Views/LayoutTemplate.cshtml";
    ViewBag.Title = "Totalprice";
}

<p>TotalpricePage</p>


@section PageJavaScript{
    <script type="text/javascript">



    </script>
}

