<option value="1">ไซบีเรียน ฮัสกี้ (Siberian Husky )</option>
<option value="2">ปั๊ก (Pug)</option>
<option value="3">ลาบราดอร์รีทรีฟเวอร์ (Labrador Retriever)</option>
<option value="4">บีเกิล (Beagle)</option>
<option value="5">เยอรมันเชฟเฟิร์ด (German Shepherd)</option>
<option value="6">ร็อตไวเลอร์ (Rottweiler)</option>
<option value="7">บูลล์ด็อก (Bulldog)</option>
<option value="8">พุดเดิ้ล (Poodle)</option>
<option value="9">พิทบูล (PitBull)</option>
<option value="10">ชิสุ (Shih-Tzu)</option>
<option value="11">โดเบอร์แมน (Doberman Pinscher)</option>
<option value="12">ชิวาวา (Chihuahua)</option>
<option value="13">บ็อกเซอร์ (Boxer)</option>
<option value="14">เชา เชา (Chow Chow)</option>
<option value="15">เกรทเดน (Great Dane)</option>
<option value="16">พุดเดิ้ล (Poodle)</option>
<option value="17">พิทบูล (PitBull)</option>
<option value="18">ชิสุ (Shih-Tzu)</option>
<option value="19">โดเบอร์แมน (Doberman Pinscher)</option>
<option value="20">ชิวาวา (Chihuahua)</option>
<option value="21">บ็อกเซอร์ (Boxer)</option>
<option value="22">เชา เชา (Chow Chow)</option>