<option value="1">Chiang Mai / เชียงใหม่</option>
<option value="2">Chiang Rai / เชียงราย</option>
<option value="3">Lampang / ลำปาง</option>
<option value="4">Lamphun / ลำพูน</option>
<option value="5">Mae Hong Son / แม่ฮ่องสอน</option>
<option value="6">Nan / น่าน</option>
<option value="7">Phayao / พะเยา</option>
<option value="8">Phrae / แพร่</option>
<option value="9">Uttaradit / อุตรดิตถ์</option>
<option value="10">Kanchanaburi / กาญจนบุรี</option>
<option value="11">Phetchaburi / เพชรบุรี</option>
<option value="12">Prachuap Khiri Khan / ประจวบคีรีขันธ์</option>
<option value="13">Ratchaburi / ราชบุรี</option>
<option value="14">Tak / ตาก</option>
<option value="15">Ang Thong / อ่างทอง</option>
<option value="16">Ayutthaya / พระนครศรีอยุธยา</option>
<option value="17">Bangkok / กรุงเทพฯ</option>
<option value="18">Chai Nat / ชัยนาท</option>
<option value="19">Kamphaeng Phet / กำแพงเพชร</option>
<option value="20">Lop Buri / ลพบุรี</option>
<option value="21">Nakhon Nayok / นครนายก</option>
<option value="22">Nakhon Pathom / นครปฐม</option>
<option value="23">Nakhon Sawan / นครสวรรค์</option>
<option value="24">Nonthaburi / นนทบุรี</option>
<option value="25">Pathum Thani / ปทุมธานี</option>
<option value="26">Phetchabun / เพชรบูรณ์</option>
<option value="27">Phichit / พิจิตร</option>
<option value="28">Phitsanulok / พิษณุโลก</option>
<option value="29">Sukhothai / สุโขทัย</option>
<option value="30">Samut Prakan / สมุทรปราการ</option>
<option value="31">Samut Sakhon / สมุทรสาคร</option>
<option value="32">Samut Songkhram / สมุทรสงคราม</option>
<option value="33">Saraburi / สระบุรี</option>
<option value="34">Sing Buri / สิงห์บุรี</option>
<option value="35">Suphan Buri / สุพรรณบุรี</option>
<option value="36">Uthai Thani / อุทัยธานี</option>
<option value="37">Amnat Charoen / อำนาจเจริญ</option>
<option value="38">Buri Ram / บุรีรัมย์</option>
<option value="39">Chaiyaphum / ชัยภูมิ</option>
<option value="40">Kalasin / กาฬสินธุ์</option>
<option value="41">Khon Kaen / ขอนแก่น</option>
<option value="42">Loei / เลย</option>
<option value="43">Maha Sarakham / มหาสารคาม</option>
<option value="44">Mukdahan / มุกดาหาร</option>
<option value="45">Nakhon Phanom / นครพนม</option>
<option value="46">Nakhon Ratchasima / นครราชสีมา</option>
<option value="47">Nong Bua Lamphu / หนองบัวลำภู</option>
<option value="48">Nong Khai / หนองคาย</option>
<option value="49">Roi Et / ร้อยเอ็ด</option>
<option value="50">Sakon Nakhon / สกลนคร</option>
<option value="51">Si Sa Ket / ศรีสะเกษ</option>
<option value="52">Surin / สุรินทร์</option>
<option value="53">Ubon Ratchathani / อุบลราชธานี</option>
<option value="54">Udon Thani / อุดรธานี</option>
<option value="55">Yasothon / ยโสธร</option>
<option value="56">Chachoengsao / ฉะเชิงเทรา</option>
<option value="57">Chanthaburi / จันทบุรี</option>
<option value="58">Chonburi / ชลบุรี</option>
<option value="59">Prachin Buri / ปราจีนบุรี</option>
<option value="60">Rayong / ระยอง</option>
<option value="61">Sa Kaeo / สระแก้ว</option>
<option value="62">Trat / ตราด</option>
<option value="63">Chumphon / ชุมพร</option>
<option value="64">Krabi / กระบี่</option>
<option value="65">Nakhon Si Thammarat / นครศรีธรรมราช</option>
<option value="66">Narathiwat / นราธิวาส</option>
<option value="67">Pattani / ปัตตานี</option>
<option value="68">Phang Nga / พังงา</option>
<option value="69">Phatthalung / พัทลุง</option>
<option value="70">Phuket / ภูเก็ต</option>
<option value="71">Ranong / ระนอง</option>
<option value="72">Satun / สตูล</option>
<option value="73">Songkhla / สงขลา</option>
<option value="74">Surat Thani / สุราษฎร์ธานี</option>
<option value="75">Trang / ตรัง</option>
<option value="76">Yala / ยะลา</option>
<option value="77">Buengkan / บึงกาฬ</option>