@{
    Layout = "~/Views/LayoutTemplate.cshtml";
    ViewBag.Title = "Petshop";
}

<p>PetshopPage</p>


@section PageJavaScript{
    <script type="text/javascript">



    </script>
}

